@font-face {
  font-family: 'georgia';
  src: url("../../assets/fonts/georgia.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial.ttf");
  font-weight: 400;
}

/* -------------------font-property-------------------*/
/* -------------------pattern-------------------*/
.header-wrapper, .slider-control, .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-block, .main-block, .header__logo, .pets-wrapper, .slide, .footer__contacts, .footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #ffffff;
}

.body-block {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cecece;
  background-color: #fff;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-block {
  margin: 0;
  padding: 0;
}

/* -------------------------------header----------------------------1280--- */
.header-block {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header-wrapper {
  padding: 30px 0;
}

.header__logo {
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo_title {
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.header__logo_subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.15em;
  letter-spacing: 0.1em;
  color: #292929;
  padding: 0 0 0 2px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 36px;
}

.menu__item {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6em;
  color: #545454;
}

.menu__item.active {
  color: #545454;
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  color: inherit;
}

.menu__link:hover {
  color: #292929;
}

.menu__link.active:hover {
  color: #545454;
}

/* ------------------------header-burger------------------------ */
.wrapper-burger {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 30px;
  height: 22px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.wrapper-burger.open {
  display: block;
  z-index: 11;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.burger {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.burger__line {
  background-color: #000000;
  width: 100%;
  height: 2px;
  display: block;
  border-radius: 2px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* -------------------------------pets-----------------------------1280--- */
.pets {
  background-color: #f6f6f6;
}

.pets-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 45px;
  padding: 80px 0 100px 0;
}

.pets__title {
  font-size: 35px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px 40px;
  padding: 15px 0;
}

.slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: #fafafa;
  padding: 0 0 30px 0;
  border-radius: 9px;
}

.slide:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
  cursor: pointer;
}

.slide:hover .button_transparent {
  background-color: #f1cdb3;
  border: none;
}

.slide:hover .button_transparent:hover {
  background-color: #fddcc4;
}

.slide__photo {
  width: 270px;
  height: 270px;
}

.slide__subtitle {
  font-size: 20px;
  line-height: 22.7px;
  letter-spacing: 0.06em;
  color: #545454;
}

.slide__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: transparent;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.pets-katrine {
  background-image: url("./../../assets/images/pets/pets-katrine.png");
}

.pets-jennifer {
  background-image: url("./../../assets/images/pets/pets-jennifer.png");
}

.pets-woody {
  background-image: url("./../../assets/images/pets/pets-woody.png");
}

.pets-sophia {
  background-image: url("./../../assets/images/pets/pets-sophia.png");
}

.pets-timmy {
  background-image: url("./../../assets/images/pets/pets-timmy.png");
}

.pets-charly {
  background-image: url("./../../assets/images/pets/pets-charly.png");
}

.pets-scarlett {
  background-image: url("./../../assets/images/pets/pets-scarlett.png");
}

.pets-freddie {
  background-image: url("./../../assets/images/pets/pets-freddie.png");
}

.slider-control {
  width: 340px;
  height: 52px;
}

.slide-control__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  width: 52px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 100px;
}

.slide-control__button.active {
  cursor: pointer;
}

.page {
  color: #292929;
  background-color: #f1cdb3;
  border: 0;
}

.double-less,
.less {
  color: #cdcdcd;
  border: 2px solid #cdcdcd;
}

.double-more,
.more {
  color: #292929;
  border: 2px solid #f1cdb3;
  cursor: pointer;
}

.double-more:hover,
.more:hover {
  background-color: #fddcc4;
  border: none;
}

/* -----------------------------footer----------------------------1280--- */
.footer-block {
  background: url(./../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-wrapper {
  padding: 40px 0 0 0;
}

.footer__contacts {
  width: 279px;
  height: 234px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 17px 0 0 0;
}

.footer__location {
  width: 302px;
  height: 234px;
  margin: 17px 0 0 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.contacts__title {
  font-size: 35px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.contacts__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.contacts__logo_email {
  background-image: url("./../../assets/images/main-1280/svg/icon-email.svg");
  width: 40px;
  height: 32px;
}

.contacts__logo_phone {
  background-image: url("./../../assets/images/main-1280/svg/icon-phone.svg");
  width: 40px;
  height: 32px;
}

.contacts__logo_location {
  background-image: url("./../../assets/images/main-1280/svg/icon-marker.svg");
  width: 22px;
  height: 32px;
}

/* ----------------------------------------------------------------768--- */
/* -------------------------------media----------------------------768--- */
/* ----------------------------------------------------------------768--- */
@media (max-width: 1279.98px) {
  /* -------------------pattern-------------------*/
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
  }
  /* -------------------------------pets-----------------------------768--- */
  .pets-wrapper {
    gap: 0;
    padding: 80px 0 76px 0;
  }
  .slider {
    padding: 0;
    margin: 30px 0 40px 0;
  }
  .slide:nth-child(n+7) {
    display: none;
  }
  /* -----------------------------footer----------------------------768--- */
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 65px 60px;
    padding: 30px 0 0 0;
  }
  .footer__contacts {
    margin: 0;
  }
  .footer__location {
    margin: 0;
  }
}

/* ----------------------------------------------------------------320--- */
/* -------------------------------media----------------------------320--- */
/* ----------------------------------------------------------------320--- */
@media (max-width: 768.98px) {
  /* -------------------pattern-------------------*/
  .wrapper {
    padding: 0 10px;
  }
  .header-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 43px;
    padding: 30px 0;
  }
  .menu__nav {
    display: none;
  }
  .wrapper-burger {
    display: block;
  }
  .pets__title {
    font-size: 25px;
    line-height: 1.3em;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
  }
  .slider-control {
    width: 300px;
  }
  .pets-wrapper {
    gap: 42px;
    padding: 42px 0;
  }
  .slider {
    margin: 0;
  }
  .slide:nth-child(n+4) {
    display: none;
  }
  /* -----------------------------footer----------------------------320--- */
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 40px;
    padding: 30px 0 0 0;
  }
  .footer__contacts {
    width: 279px;
    height: 208px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0;
  }
  .footer__location {
    width: 300px;
    height: 222px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .contacts__title {
    font-size: 25px;
    line-height: 1.3em;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: center;
    padding: 0 10px;
  }
  .contacts__subtitle {
    font-size: 20px;
    line-height: 1.3em;
    letter-spacing: 0.06em;
    color: #f1cdb3;
  }
  .img__footer {
    width: 260px;
    height: 269px;
  }
}
/*# sourceMappingURL=style.css.map */