@font-face {
  font-family: 'Georgia';
  src: url("../../assets/fonts/georgia.ttf");
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial.ttf");
}

/* -------------------font-property-------------------*/
/* -------------------pattern-------------------*/
.header-wrapper, .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-block, .main-block, .header__logo, .footer__contacts, .footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #ffffff;
}

.body-block {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cecece;
  background-color: #1e1678;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-block {
  margin: 0;
  padding: 0;
}

/* -------------------------------header----------------------------1280--- */
.header-block {
  background-color: #ffffff;
}

.header-wrapper {
  padding: 30px 0;
}

/* .main-header {
  background-position: -5px -30px;
  background-size: auto 620px;
}   */
.header__logo {
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo_title {
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.header__logo_subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.15em;
  letter-spacing: 0.1em;
  color: #292929;
  padding: 0 0 0 2px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 36px;
}

.menu__item {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6em;
  color: #545454;
}

.menu__item.active {
  color: #545454;
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  color: inherit;
}

.menu__link:hover {
  color: #292929;
}

/* ------------------------header-burger------------------------ */
.wrapper-burger {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40px;
  height: 28px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* -------------------------------pets-----------------------------1280--- */
.pets {
  background-color: var(--color-light-l);
}

/* -----------------------------footer----------------------------1280--- */
.footer-block {
  background: url("./../../assets/images/main-1280/footer-background-2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-wrapper {
  padding: 40px 0 0 0;
  height: 350px;
}

.footer__contacts {
  width: 279px;
  height: 234px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 17px 0 0 0;
}

.footer__location {
  width: 302px;
  height: 234px;
  margin: 17px 0 0 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.contacts__title {
  font-size: 35px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.contacts__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.contacts__logo_email {
  background-image: url("./../../assets/images/main-1280/svg/icon-email.svg");
  width: 40px;
  height: 32px;
}

.contacts__logo_phone {
  background-image: url("./../../assets/images/main-1280/svg/icon-phone.svg");
  width: 40px;
  height: 32px;
}

.contacts__logo_location {
  background-image: url("./../../assets/images/main-1280/svg/icon-marker.svg");
  width: 22px;
  height: 32px;
}

/* -------------------------------media-----------------------------1280--- */
/*# sourceMappingURL=style.css.map */