.filters__description__range {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.range-count__range,
.range-weight__range {
  width: 80%;
}

.filters__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1vw;
}

.range-count-start,
.range-count-end,
.range-weight-start,
.range-weight-end {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5em;
  height: 2em;
  border: 0.1em solid var(--color-border-light);
  border-radius: 1em;
}


.filters__form {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80%;
}

input[type=range] {
  display: block;
}

#range-count-from,
#range-weight-from {
  height: 0;
  z-index: 1;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */
/* .range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 35% auto;
}

.sliders_control {
  position: relative;
  min-height: 50px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #635a5a;
} */

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0.05em #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 1.2em;
  height: 1.2em;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 0.05em #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 2em #387bbe, 0 0 6em #387bbe;
  -webkit-box-shadow: inset 0 0 2em #387bbe, 0 0 6em #387bbe;
}


input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}
/* 
#fromSlider {
  height: 0;
  z-index: 1;
} */

/* 
.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 35% auto;
}

.sliders_control {
  position: relative;
  min-height: 50px;
}

.form_control {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  color: #635a5a;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;  
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
  color: #8a8383;
  width: 50px;
  height: 30px;
  font-size: 20px;
  border: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
   opacity: 1;
}

input[type="range"] {
  -webkit-appearance: none; 
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#fromSlider {
  height: 0;
  z-index: 1;
} */