@font-face {
  font-family: 'georgia';
  src: url("../../assets/fonts/georgia.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial.ttf");
  font-weight: 400;
}

/* -------------------font-property-------------------*/
/* -------------------pattern-------------------*/
.header-wrapper, .start-screen-wrapper, .donation__credit-card, .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body-block, .main-block, .header__logo, .start__content, .about__content, .pets-wrapper, .slide, .help-wrapper, .help__item, .footer__contacts, .footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.link:link {
  color: inherit;
  list-style: none;
}

.link:visited {
  color: inherit;
}

.link:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

button,
button:active,
button:focus {
  outline: none;
  border: none;
}

body {
  color: #ffffff;
}

.body-block {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cecece;
  background-color: #fff;
  min-height: 100vh;
  margin: 0 auto;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.main-block {
  margin: 0;
  padding: 0;
}

.button_primary:hover {
  background-color: #fddcc4;
}

.button_transparent:hover {
  background-color: #fddcc4;
  border: none;
}

.button__link {
  display: block;
}

/* -------------------------------header----------------------------1280--- */
.header-block {
  background: url(./../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.header-wrapper {
  padding: 60px 0;
}

.header__logo {
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo_title {
  font-size: 32px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0;
}

.header__logo_subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.15em;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding: 0 0 0 2px;
  margin: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 36px;
}

.menu__item {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6em;
  color: #cdcdcd;
}

.menu__item.active {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
}

.menu__link {
  color: inherit;
}

.menu__link:hover {
  color: #fafafa;
}

/* ------------------------header-burger------------------------ */
.wrapper-burger {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 40px;
  height: 28px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.wrapper-burger.open {
  display: block;
  z-index: 11;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.8s ease-in-out;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.burger {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.burger__line {
  background-color: #ffffff;
  width: 100%;
  height: 3px;
  display: block;
  border-radius: 2px;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

/* ----------------------------start-screen--------------------------1280--- */
.start-screen {
  height: 728px;
  background: url(./../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.start-screen-wrapper {
  gap: 42px;
}

.start__content {
  width: 460px;
  height: 322px;
  margin: 163px 0 0;
}

.start__title {
  font-size: 44px;
  line-height: 1.3em;
  color: #ffffff;
}

.start__subtitle {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.6em;
  color: #cdcdcd;
}

.start__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #f1cdb3;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  cursor: pointer;
}

.start__screen {
  height: 728px;
}

/* ------------------------------about----------------------------1280--- */
.about {
  background-color: #ffffff;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
  padding: 80px 0 100px 0;
}

.about__screen {
  height: 408px;
}

.about__content {
  width: 430px;
  height: 380px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__title {
  font-size: 35px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__subtitle {
  font-family: Arial;
  color: #4c4c4c;
}

/* -------------------------------pets-----------------------------1280--- */
.pets {
  background-color: #f6f6f6;
}

.pets-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  padding: 80px 0 100px 0;
}

.pets__title {
  font-size: 35px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 53px;
}

.wrapper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 90px;
}

.slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  background-color: #fafafa;
  padding: 0 0 30px 0;
  border-radius: 9px;
}

.slide:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
  cursor: pointer;
}

.slide:hover .button_transparent {
  background-color: #f1cdb3;
  border: none;
}

.slide:hover .button_transparent:hover {
  background-color: #fddcc4;
}

.slide__photo {
  width: 270px;
  height: 270px;
}

.pets-katrine {
  background-image: url("./../../assets/images/pets/pets-katrine.png");
}

.pets-jennifer {
  background-image: url("./../../assets/images/pets/pets-jennifer.png");
}

.pets-woody {
  background-image: url("./../../assets/images/pets/pets-woody.png");
}

.slide__subtitle {
  font-size: 20px;
  line-height: 22.7px;
  letter-spacing: 0.06em;
  color: #545454;
}

.slide__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: transparent;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.slide__button_prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: transparent;
  width: 52px;
  height: 52px;
  background-image: url("./../../assets/icons/arrow-prev.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.slide__button_next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: transparent;
  width: 52px;
  height: 52px;
  background-image: url("./../../assets/icons/arrow-next.svg");
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
}

.pets__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #f1cdb3;
  width: 261px;
  height: 52px;
  border-radius: 100px;
  cursor: pointer;
}

.pet-food {
  background-image: url("./../../assets/icons/icon-pet-food.svg");
}

.transportation {
  background-image: url("./../../assets/icons/icon-transportation.svg");
}

/* -------------------------------help-----------------------------1280--- */
.help {
  background-color: #ffffff;
}

.help-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 58px;
  padding: 80px 0 99px 0;
}

.help__title {
  font-size: 35px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.help__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 55px 120px;
}

.help__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.help__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__logo {
  width: 60px;
  height: 60px;
}

.pet-food {
  background-image: url("./../../assets/icons/icon-pet-food.svg");
}

.transportation {
  background-image: url("./../../assets/icons/icon-transportation.svg");
}

.toys {
  background-image: url("./../../assets/icons/icon-toys.svg");
}

.bowls-and-cups {
  background-image: url("./../../assets/icons/icon-bowls-and-cups.svg");
}

.shampoos {
  background-image: url("./../../assets/icons/icon-shampoos.svg");
}

.vitamins {
  background-image: url("./../../assets/icons/icon-vitamins.svg");
}

.medicines {
  background-image: url("./../../assets/icons/icon-medicines.svg");
}

.collars-leashes {
  background-image: url("./../../assets/icons/icon-collars-leashes.svg");
}

.sleeping-areas {
  background-image: url("./../../assets/icons/icon-sleeping-area.svg");
}

/* ------------------------------donatioin---------------------------1280--- */
.donation {
  background-color: #f6f6f6;
}

.donation-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding: 82px 0 101px 0;
}

.donation__content {
  width: 380px;
  height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  gap: 20px;
}

.donation__title {
  font-size: 35px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__subtitle {
  line-height: 1.1em;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__credit-card {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f1cdb3;
  width: 349px;
  height: 43px;
  margin: -1px 0 0 0;
  padding: 10px 15px;
  border-radius: 9px;
  cursor: pointer;
}

.credit-card__logo {
  background-image: url("./../../assets/images/main-1280/svg/credit-card.svg");
  width: 30px;
  height: 23px;
}

.credit-card__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.credit-card__link {
  color: #545454;
}

.donation__informatiom {
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.donation__screen {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 7px 0 0 0;
}

.img__donation {
  -o-object-fit: fill;
     object-fit: fill;
}

/* -----------------------------footer----------------------------1280--- */
.footer-block {
  background: url(./../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-wrapper {
  padding: 40px 0 0 0;
  height: 350px;
}

.footer__contacts {
  width: 279px;
  height: 234px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 17px 0 0 0;
}

.footer__location {
  width: 302px;
  height: 234px;
  margin: 17px 0 0 0;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.contacts__title {
  font-size: 35px;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.contacts__subtitle {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.contacts__logo_email {
  background-image: url("./../../assets/images/main-1280/svg/icon-email.svg");
  width: 40px;
  height: 32px;
}

.contacts__logo_phone {
  background-image: url("./../../assets/images/main-1280/svg/icon-phone.svg");
  width: 40px;
  height: 32px;
}

.contacts__logo_location {
  background-image: url("./../../assets/images/main-1280/svg/icon-marker.svg");
  width: 22px;
  height: 32px;
}

.img__footer {
  display: block;
}
/*# sourceMappingURL=style.css.map */