@font-face {
  font-family: 'georgia';
  src: url("../../assets/fonts/georgia.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial.ttf");
  font-weight: 400;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --font-size-1: 20px;
  --smooth-time-slow: 0.8s;
  --smooth-time-middle: 0.6s;
  --smooth-time-fast: 0.4s;
  
}

body {
  color: var(--color-white);
}
.wrapper {
  max-width: 1200px;
}
