@font-face {
  font-family: 'georgia';
  src: url("../../assets/fonts/georgia.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Arial';
  src: url("../../assets/fonts/arial.ttf");
  font-weight: 400;
}

$color-black: #000000;
$color-white: #ffffff;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$color-dark-s: #cdcdcd;
$color-light-s: #fafafa;
$color-light-xl: #ffffff;
$color-dark-3xl: #292929;
$color-dark-l: #545454;
$color-light-l: #f6f6f6;
$color-dark-xl: #4c4c4c;
$color-dark-m: #b2b2b2;
/* -------------------font-property-------------------*/
$fz-logo-title: 32px;
$lh-logo-title: 1.1em;
$ls-logo-title: 0.06em;
$fz-logo-subtitle: 13px;
$lh-logo-subtitle: 1.15em; 
$ls-logo-subtitle: 0.1em;

$fz-start-title: 44px;
$fz-start-title-320: 25px;
$lh-start-title: 1.3em;
$fz-burger-title: 15px;
$fz-burger-title-320: 32px;
$lh-burger-title: 1.6em;

$fz-section-title: 35px;
$fz-section-title-320: 25px;
$lh-section-title: 1.3em;
$ls-section-title: 0.06em;
$fz-section-subtitle: 20px;
$fz-section-subtitle-320: 15px;
$lh-section-subtitle: 23px;             // or 1.14em 
$lh-section-subtitle-320: 1.1em;
$ls-section-subtitle: 0.06em;
$fz-section-text: 15px;
$lh-section-text: 1.6em;

$lh-modal-text: 13px;
$lh-modal-text: 1.1em;
$ls-modal-text: 0.06em;
$lh-modal-subtext: 15px; 
$lh-modal-subtext: 1.1em;
$ls-modal-subtext: 0.06em;

$fz-button: 17px;
$lh-button: 1.3em;
$ls-button: 0.06em;

$time-slow: 0.8s;
$time-middle: 0.6s;
$time-fast: 0.4s;

/* -------------------pattern-------------------*/
%flex-row-sb {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
%flex-col-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  transition: $time-fast;
}
.link:link {
  color:inherit;
  list-style: none;
}
.link:visited {
  color: inherit;
}
.link:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
button, 
button:active, 
button:focus {
  outline: none;
  border: none;
}
body {
  color: $color-white;
}
.body-block {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #cecece;
  background-color: #1e1678;

  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  @extend %flex-col-sb;
  margin: 0 auto;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto; 
  padding: 0 40px;
}
.main-block {
  @extend %flex-col-sb;
  margin: 0;
  padding: 0;
}
.button_primary:hover {
  background-color: $color-primary-light;
}
.button_transparent:hover {
  background-color: $color-primary-light;
  border: none;
}

.button__link {
  display: block;
}
/* -------------------------------header----------------------------1280--- */
.header-block {
  background: url('./../../assets/images/main-1280/start-screen-background-2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.header-wrapper {
  @extend %flex-row-sb;
  padding: 60px 0;
}

.header__logo {
  @extend %flex-col-sb;
  height: 60px;
  align-items: center;
}
.header__logo_title {
  font-size: $fz-logo-title;
  font-style: normal;
  font-weight: normal;
  line-height: $lh-logo-title;
  letter-spacing: $ls-logo-title;
  color: $color-primary;
  margin: 0;
  
}
.header__logo_subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: $fz-logo-subtitle;
  line-height: $lh-logo-subtitle;
  letter-spacing: $ls-logo-subtitle;
  color: $color-light-xl;
  padding: 0 0 0 2px;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 36px;
}
.menu__item {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: $fz-burger-title;
  line-height: $lh-burger-title;
  color: $color-dark-s;
  &.active {
    color: $color-light-s;
    border-bottom: 3px solid $color-primary;
  }
}
.menu__link {
  color: inherit;
  &:hover {
    color: $color-light-s;
  }
}
/* ------------------------header-burger------------------------ */
.wrapper-burger {
  display: none;
  align-self: center;
  width: 40px;
  height: 28px;
  transform:  rotate(0deg);
  -webkit-transition: all $time-slow ease-in-out;
  -o-transition: all $time-slow ease-in-out;
  transition: all $time-slow ease-in-out;
}
.wrapper-burger.open {
  display: block;
  z-index: 11;

  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform:  rotate(90deg);
  -webkit-transition: all $time-slow ease-in-out;
  -o-transition: all $time-slow ease-in-out;
  transition: $time-slow ease-in-out;
}

.burger {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger__line {
  background-color: $color-white;
  width: 100%;
  height: 3px;

  display: block;
  border-radius: 2px;

  -webkit-transition: all $time-slow ease-in-out;
  -o-transition: all $time-slow ease-in-out;
  transition: all $time-slow ease-in-out;
}

/* ----------------------------start-screen--------------------------1280--- */

.start-screen {
  height: 728px;
  background: url('./../../assets/images/main-1280/start-screen-background-2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.start-screen-wrapper {
  @extend %flex-row-sb;
  gap: 42px;
}
.start__content {
  @extend %flex-col-sb;
  width: 460px;
  height: 322px;
  margin: 163px 0 0;
}
.start__title {
  font-size: $fz-start-title;
  line-height: $lh-start-title;
  color: $color-light-xl;
}
.start__subtitle {
  font-family: Arial;
  font-size: $fz-section-text;
  line-height: $lh-section-text;
  color: $color-dark-s;
}
.start__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: $fz-button;
  letter-spacing: $ls-button;
  color: $color-dark-3xl;
  background-color: $color-primary;
  width: 207px;
  height: 52px;
  border-radius: 100px;
  cursor: pointer;
}
.start__screen {
  height: 728px;
}

/* ------------------------------about----------------------------1280--- */

.about {
  background-color: $color-light-xl;
}
.about-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 120px;
  padding: 80px 0 100px 0;
}
.about__screen {
  height: 408px;
}
.about__content {
  width: 430px;
  height: 380px;
  @extend %flex-col-sb;
  align-self: center;
}
.about__title {
  font-size: $fz-section-title;
  line-height: $lh-section-title;
  letter-spacing: $ls-section-title;
  color: $color-dark-l;
}
.about__subtitle {
  font-family: Arial;
  color: $color-dark-xl;
}

/* -------------------------------pets-----------------------------1280--- */

.pets {
  background-color: $color-light-l;
}
.pets-wrapper {
  @extend %flex-col-sb;
  align-items: center;
  gap: 60px;
  padding: 80px 0 100px 0;
}
.pets__title {
  font-size: $fz-section-title;
  line-height: $lh-section-title;
  letter-spacing: $ls-section-title;
  color: $color-dark-l;
  text-align: center;
}
.slider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 53px;
}
.wrapper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 90px;
}
.slide {
  @extend %flex-col-sb;
  align-items: center;
  gap: 30px;
  background-color: $color-light-s;
  padding: 0 0 30px 0;
  border-radius: 9px;
  &:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background-color: $color-light-xl;
    cursor: pointer;
    .button_transparent {
      background-color: $color-primary-light;
      border: none;
    }
  }
}
.slide__photo {
  width: 270px;
  height: 270px; 
}
.pets-katrine {
  background-image: url('./../../assets/images/pets/pets-katrine.png');
}
.pets-jennifer {
  background-image: url('./../../assets/images/pets/pets-jennifer.png');
}
.pets-woody {
  background-image: url('./../../assets/images/pets/pets-woody.png');
}

.slide__subtitle {
  font-size: $fz-section-subtitle;
  line-height: 22.7px;
  letter-spacing: $ls-section-subtitle;
  color: $color-dark-l;
}
.slide__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: $fz-button;
  line-height: $lh-button;
  letter-spacing: $ls-button;
  color: $color-dark-3xl;
  background-color: transparent;
  width: 187px;
  height: 52px;
  border: 2px solid $color-primary;
  border-radius: 100px;
  cursor: pointer;
}
.slide__button_prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $fz-button;
  line-height: $lh-button;
  letter-spacing: $ls-button;
  color: $color-dark-3xl;
  background-color: transparent;
  width: 52px;
  height: 52px;
  background-image: url('./../../assets/icons/arrow-prev.svg');
  background-position: center center;
  background-repeat: no-repeat;  
  border: 2px solid $color-primary;
  border-radius: 100px;
  cursor: pointer;
}
.slide__button_next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: $fz-button;
  line-height: $lh-button;
  letter-spacing: $ls-button;
  color: $color-dark-3xl;
  background-color: transparent;
  width: 52px;
  height: 52px;
  background-image: url('./../../assets/icons/arrow-next.svg');
  background-position: center center;
  background-repeat: no-repeat; 
  border: 2px solid $color-primary;
  border-radius: 100px;
  cursor: pointer;
}
.pets__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: $fz-button;
  line-height: $lh-button;
  letter-spacing: $ls-button;
  color: $color-dark-3xl;
  background-color: $color-primary;
  width: 261px;
  height: 52px;
  border-radius: 100px;
  cursor: pointer;
}
.pet-food {
  background-image: url('./../../assets/icons/icon-pet-food.svg');
}
.transportation {
  background-image: url('./../../assets/icons/icon-transportation.svg');
}

/* -------------------------------help-----------------------------1280--- */

.help {
  background-color: $color-light-xl;
}
.help-wrapper {
  @extend %flex-col-sb;
  align-items: center;
  gap: 60px;
  padding: 80px 0 100px 0;
}
.help__title {
  font-size: $fz-section-title;
  line-height: $lh-section-title;
  letter-spacing: $ls-section-title;
  color: $color-dark-l;
  text-align: center;
}
.help__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
}
.help__item {
  @extend %flex-col-sb;
  align-items: center;
  gap: 30px;
}
.help__subtitle {
  font-size: $fz-section-subtitle;
  line-height: $lh-section-subtitle;
  letter-spacing: $ls-section-subtitle;
  color: $color-dark-l;
}
.help__logo {
  width: 60px;
  height: 60px;
}
.pet-food {
  background-image: url('./../../assets/icons/icon-pet-food.svg');
}
.transportation {
  background-image: url('./../../assets/icons/icon-transportation.svg');
}
.toys {
  background-image: url('./../../assets/icons/icon-toys.svg');
}
.bowls-and-cups {
  background-image: url('./../../assets/icons/icon-bowls-and-cups.svg');
}
.shampoos {
  background-image: url('./../../assets/icons/icon-shampoos.svg');
}
.vitamins {
  background-image: url('./../../assets/icons/icon-vitamins.svg');
}
.medicines {
  background-image: url('./../../assets/icons/icon-medicines.svg');
}
.collars-leashes {
  background-image: url('./../../assets/icons/icon-collars-leashes.svg');
}
.sleeping-areas {
  background-image: url('./../../assets/icons/icon-sleeping-area.svg');
}

/* ------------------------------donatioin---------------------------1280--- */

.donation {
  background-color: $color-light-l;
}
.donation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 80px 0 100px 0;
}
.donation__content {
  width: 380px;
  height: 282px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
}
.donation__title {
  font-size: $fz-section-title;
  line-height: $lh-section-title;
  letter-spacing: $ls-section-title;
  color: $color-dark-l;
}
.donation__subtitle {
  line-height: 1.1em;
  letter-spacing: $ls-section-subtitle;
  color: $color-dark-l;
}
.donation__credit-card {
  @extend %flex-row-sb;
  align-items: center;
  background-color: $color-primary;
  width: 349px;
  height: 43px;
  padding: 10px 15px;
  border-radius: 9px;
  cursor: pointer;
}
.credit-card__logo {
  background-image: url('./../../assets/images/main-1280/svg/credit-card.svg');
  width: 30px;
  height: 23px;
}
.credit-card__subtitle {
  font-size: $fz-section-subtitle;
  line-height: $lh-section-subtitle;
  letter-spacing: $ls-section-subtitle;
}
.credit-card__link {
  color: $color-dark-l;
}
.donation__informatiom {
  font-family: Arial;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: $color-dark-m;
}
.donation__screen {
  align-self: center;
  margin: 5px 0 0 0;
}
.img__donation {
  object-fit: fill;
}

/* -----------------------------footer----------------------------1280--- */

.footer-block {
  background: url('./../../assets/images/main-1280/footer-background-2x.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer-wrapper {
  @extend %flex-row-sb;
  padding: 40px 0 0 0;
  height: 350px;
}
.footer__contacts {
  width: 279px;
  height: 234px;
  @extend %flex-col-sb;
  align-self: flex-start;
  margin: 17px 0 0 0;
}
.footer__location {
  width: 302px;
  height: 234px;
  @extend %flex-col-sb;
  margin: 17px 0 0 0;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.contacts__title {
  font-size: $fz-section-title;
  line-height: $lh-section-title;
  letter-spacing: $ls-section-title;
  color: $color-light-xl;
}
.contacts__subtitle {
  font-size: $fz-section-subtitle;
  line-height: $lh-section-subtitle;
  letter-spacing: $ls-section-subtitle;
  color: $color-primary;
}
.contacts__logo_email {
  background-image: url('./../../assets/images/main-1280/svg/icon-email.svg');
  width: 40px;
  height: 32px;
}
.contacts__logo_phone {
  background-image: url('./../../assets/images/main-1280/svg/icon-phone.svg');
  width: 40px;
  height: 32px;
}
.contacts__logo_location {
  background-image: url('./../../assets/images/main-1280/svg/icon-marker.svg');
  width: 22px;
  height: 32px;
}